<!-- app-user-home: This is a custom component representing the user's home page. -->
<app-user-home></app-user-home>

<!-- hero-section: This is the header section with a hero image and sub-heading. -->
<header class="hero-section">
    <div class="content">
        <!-- logo: The logo image for the fashion collection. -->
        <img src="../../assets/champion-7-logo (1).png" class="logo" alt="">

        <!-- sub-heading: A sub-heading describing the fashion collection. -->
        <p class="sub-heading">best fashion collection of all time</p>
    </div>
</header>

<!-- app-displayproducts: This is a custom component to display the fashion products. -->
<app-displayproducts></app-displayproducts>
