<div class="row product-details" *ngIf="productDetails">
    <div class="col-sm-6">
      <img class="product-img" [src]="productDetails.image" alt="">
    </div>
    <div class="col-sm-6">
      <div class="product-details">
        <h1>{{productDetails.name}}</h1>
        <h3>Price: {{productDetails.price}}</h3>
        <div>Color: <h3 [style.backgroundColor]="productDetails.color" class="product-color"></h3></div>
        <h6>Category: {{productDetails.category}}</h6>
        <h6>Description: {{productDetails.description}}</h6>
        <button *ngIf="removeCart" class="form-button" (click)="removeFromCart(productDetails.id)">Remove from Cart</button>
        <button *ngIf="!removeCart" class="form-button" (click)="addToCart()">Add to Cart</button>
        <div class="quantity-group">
          <button (click)="handleQuantity('min')">-</button>
          <input type="text" [(ngModel)]="productQuantity" />
          <button (click)="handleQuantity('plus')">+</button>
        </div>
      </div>
    </div>
  </div>

 