<!-- header: Header section of the web page. -->
<header>

  <!-- h1: Heading displaying the title "Shop Smart". -->
  <h1>Shop Smart</h1>

  <!-- nav: Navigation section of the header. -->
  <nav>

    <!-- ul: Unordered list for the navigation links. -->
    <ul>

      <!-- a with routerLink attribute: Link to navigate to the "Add Product" page. -->
      <a routerLink="/addProduct">Add Product</a>

      <!-- a with routerLink attribute: Link to navigate to the "Product List" page. -->
      <a routerLink="/productlist">List</a>

      <!-- a with (click) event handler: Button for the "Logout" action. -->
      <a (click)="logout()" class="button">Logout</a>

      <!-- a with routerLink attribute: Link to navigate to the "Notifications" page. -->
      <a routerLink="/alert">Notifications</a>

    </ul>
  </nav>
</header>
