header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #023469;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #f8f6f6;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #f8f6f6;
    padding: 5px 10px;
    
  }
  
  h1 {
    margin: 0;
    color:aliceblue
  }
 a{
    text-decoration: none;
    color:#f8f6f6
   }

.button{
    cursor: pointer;
}